<!-- ============================================================== -->
    <!-- Preloader -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Wrapper -->
    <!-- ============================================================== -->
    <div id="wrapper">
        <%- partial ('partials/dashboardNavbar.ejs') %>
        <!-- End Top Navigation -->
        <%- partial ('partials/dashboardSidebar.ejs') %>
        <!-- ============================================================== -->
        <!-- End Left Sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page Content -->
        <!-- ============================================================== -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Select An Action</h4> </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <ol class="breadcrumb">
                            <li><a href="/admin/registration">Accept Registration</a></li>
                            <!-- <li class="active">Blank Page</li> -->
                        </ol>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="white-box analytics-info">
                          <form class="form form-material" action="" method="post">
                            <div class="form-group">
                              <label>Username</label>
                              <input class="form-control form-control-line" type="text" name="username">
                            </div>
                            <div class="form-group">
                              <label>Password</label>
                              <input class="form-control form-control-line" type="password" name="password">
                            </div>
                            <div class="form-group">
                              <label>Confirm Password</label>
                              <input class="form-control form-control-line" type="password" name="confirmPassword">
                            </div>
                            <div class="form-group">
                              <label>User Type</label>
                              <select class="form-control form-control-line" name="userType">
                                <option value="teacher">Teacher</option>
                                <option value="admin">Admin</option>
                              </select>
                            </div>
                            <ul class="list-inline two-part">
                              <li></li>
                                <li class="text-right">
                                  <input type="submit" class="btn btn-primary" name="create" value="Submit">
                                </li>
                            </ul>
                          </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
            <footer class="footer text-center"> 2017 &copy; Asif. Sume. Shakil.</footer>
        </div>
        <!-- ============================================================== -->
        <!-- End Page Content -->
        <!-- ============================================================== -->
    </div>
    <!-- /#wrapper -->

    <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function(event) {
      $(".getCourseName").map(function () {
        var _this = $(this);
        $.get('/admin/getCourses', {
          courseId: _this.html()
        }, function (data) {
          if (data.status === 'success') {
            _this.html(data.courses[0].name);
          }
        });
      });
    });
    </script>
