<!-- ============================================================== -->
    <!-- Preloader -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Wrapper -->
    <!-- ============================================================== -->
    <div id="wrapper">
        <%- partial ('partials/dashboardNavbar.ejs') %>
        <!-- End Top Navigation -->
        <%- partial ('partials/dashboardSidebar.ejs') %>
        <!-- ============================================================== -->
        <!-- End Left Sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page Content -->
        <!-- ============================================================== -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Select An Action</h4> </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <ol class="breadcrumb">
                            <li><a href="/admin/dashboard">Dashboard</a></li>
                        </ol>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <div class="row">
                  <div class="col-lg-4 col-sm-6 col-xs-12">
                      <div class="white-box analytics-info">
                          <h3 class="box-title">Start a Semester</h3>
                          <ul class="list-inline two-part">
                              <li>
                                  <div id="sparklinedash3"></div>
                              </li>
                              <li class="text-right"><a href="/admin/routine" class="btn btn-primary">Continue</a></li>
                          </ul>
                      </div>
                  </div>
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="white-box analytics-info">
                            <h3 class="box-title">Manage Courses</h3>
                            <ul class="list-inline two-part">
                                <li>
                                    <div id="sparklinedash"></div>
                                </li>
                                <li class="text-right"><a href="/admin/course" class="btn btn-primary">Continue</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="white-box analytics-info">
                            <h3 class="box-title">Manage Students</h3>
                            <ul class="list-inline two-part">
                                <li>
                                    <div id="sparklinedash2"></div>
                                </li>
                                <li class="text-right"><a href="/admin/student" class="btn btn-primary">Continue</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-lg-4 col-sm-6 col-xs-12">
                      <div class="white-box analytics-info">
                          <h3 class="box-title">Create Intake</h3>
                          <ul class="list-inline two-part">
                              <li>
                                  <div id="sparklinedash3"></div>
                              </li>
                              <li class="text-right"><a href="/admin/intake" class="btn btn-primary">Continue</a></li>
                          </ul>
                      </div>
                  </div>
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="white-box analytics-info">
                            <h3 class="box-title">Manage Departments</h3>
                            <ul class="list-inline two-part">
                                <li>
                                    <div id="sparklinedash"></div>
                                </li>
                                <li class="text-right"><a href="/admin/department" class="btn btn-primary">Continue</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="white-box analytics-info">
                            <h3 class="box-title">Registration Request</h3>
                            <ul class="list-inline two-part">
                                <li>
                                    <div id="sparklinedash2"></div>
                                </li>
                                <li class="text-right"><a href="/admin/registration" class="btn btn-primary">Continue</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
            <footer class="footer text-center"> 2017 &copy; Asif. Sume. Shakil.</footer>
        </div>
        <!-- ============================================================== -->
        <!-- End Page Content -->
        <!-- ============================================================== -->
    </div>
    <!-- /#wrapper -->
