<div class="container">
  <img class="full-width" src="/images/under_construction.jpg" alt="Under Construction" />
  <div class="row">
    <div class="col-md-6">
      <a class="btn btn-danger full-width" href="/admin">Admin Area</a>
    </div>
    <div class="col-md-6">
      <a class="btn btn-success full-width" href="/student">Student Area</a>
    </div>
  </div>
</div>
