<script type="text/javascript">
  document.styleSheets[3].disabled = true;
</script>
<link href="/homeCSS/bootstrap.min.css" rel="stylesheet">
<link href="/homeCSS/landing-page.css" rel="stylesheet">

<!-- Header -->
    <header class="intro-header">
      <div class="container">
        <div class="intro-message">
          <h1>BUBT</h1>
          <h3>Student Course Selector</h3>
          <hr class="intro-divider">
          <ul class="list-inline intro-social-buttons">
            <li class="list-inline-item">
              <a href="/admin" class="btn btn-secondary btn-lg">
                <i class="fa fa-university fa-fw"></i>
                <span class="network-name">Admin</span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="/admin" class="btn btn-secondary btn-lg">
                <i class="fa fa-user fa-fw"></i>
                <span class="network-name">Teacher</span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="/student" class="btn btn-secondary btn-lg">
                <i class="fa fa-group fa-fw"></i>
                <span class="network-name">Student</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </header>

    <!-- Page Content -->
    <section class="content-section-a">

      <div class="container">
        <div class="row">
          <div class="col-lg-5 ml-auto">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">A Better Registration System</h2>
            <p class="lead">The Online Registration System allows students, through Internet, to register, drop, or add courses within the registration period and the Advisor to do advising for the students by approving/rejecting requested courses by the student or recommending some others.</p>
          </div>
          <div class="col-lg-5 mr-auto">
            <img class="img-fluid" src="images/ipad.png" alt="">
          </div>
        </div>

      </div>
      <!-- /.container -->
    </section>

    <section class="content-section-b">

      <div class="container">

        <div class="row">
          <div class="col-lg-5 mr-auto order-lg-2">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">What We Provide</h2>
            <p class="lead">The System provides for students the option to register courses, without the advisor’s prior approval, offered by their colleges during the scheduled registration periods. The students can modify their course selection by adding and/or dropping courses.</p>
          </div>
          <div class="col-lg-5 ml-auto order-lg-1">
            <img class="img-fluid" src="images/student.png" alt="">
          </div>
        </div>

      </div>
      <!-- /.container -->

    </section>
    <!-- /.content-section-b -->

    <!-- /.content-section-a -->

    <aside class="banner">

      <div class="container">

        <div class="row">
          <div class="col-lg-6 my-auto">
            <h2>Course Registration:</h2>
          </div>
          <div class="col-lg-6 my-auto">
            <ul class="list-inline banner-social-buttons">
              <li class="list-inline-item">
                <a href="/admin" class="btn btn-secondary btn-lg">
                  <i class="fa fa-university fa-fw"></i>
                  <span class="network-name">Admin</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="/admin" class="btn btn-secondary btn-lg">
                  <i class="fa fa-user fa-fw"></i>
                  <span class="network-name">Teacher</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="/student" class="btn btn-secondary btn-lg">
                  <i class="fa fa-group fa-fw"></i>
                  <span class="network-name">Student</span>
                </a>
              </li>
            </ul>
          </div>
        </div>

      </div>
      <!-- /.container -->

    </aside>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
      <div class="container">
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="/">Home</a>
          </li>
          <li class="footer-menu-divider list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="/admin">Admin</a>
          </li>
          <li class="footer-menu-divider list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="/admin">Teacher</a>
          </li>
          <li class="footer-menu-divider list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="/student">Student</a>
          </li>
        </ul>
        <p class="copyright text-muted small">Copyright &copy; Asif,Sume,Shakil 2017. All Rights Reserved</p>
      </div>
    </footer>
