<!DOCTYPE html>
<html>
  <head>
    <title><%=typeof title == 'undefined' ? 'Student Course Selector' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="/adminCSS/font-awesome.min.css">
    <link href='/adminCSS/fontOne.css' rel='stylesheet' type='text/css'>
		<link href="/adminCSS/fontTwo.css" rel="stylesheet">

    <% if (typeof isAdmin != 'undefined') { %>
    <% } %>

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/abootstrap.min.css">
    <link rel="stylesheet" href="/styles/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/styles/style.css">
    <!--STYLES END-->

    <% if (typeof isAdmin != 'undefined') { %>
      <!-- Menu CSS -->
      <link href="/adminCSS/sidebar-nav.min.css" rel="stylesheet">
      <!-- toast CSS -->
      <link href="/adminCSS/jquery.toast.css" rel="stylesheet">
      <!-- animation CSS -->
      <link href="/adminCSS/animate.css" rel="stylesheet">
      <link href="/adminCSS/bootstrap-datetimepicker.min.css" rel="stylesheet">
      <!-- Custom CSS -->
      <link href="/adminCSS/style.css" rel="stylesheet">
      <!-- color CSS -->
      <link href="/adminCSS/default.css" id="theme" rel="stylesheet">
    <% } %>
    <script type="text/javascript">

    </script>
  </head>

  <body>
    <%- body %>

    <% if (typeof isAdmin != 'undefined') { %>
    <% } %>
    <script src="/adminJS/jquery-2.2.4.min.js"></script>
    <!--SCRIPTS-->
    <script src="/js/dependencies/bootstrap.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <!--SCRIPTS END-->
    <% if (typeof isAdmin != 'undefined') { %>
      <!-- Menu Plugin JavaScript -->
      <script src="/adminJS/sidebar-nav.min.js"></script>
      <!--slimscroll JavaScript -->
      <script src="/adminJS/jquery.slimscroll.js"></script>
      <!--Wave Effects -->
      <script src="/adminJS/waves.js"></script>
      <!-- Custom Theme JavaScript -->
      <script src="/adminJS/custom.min.js"></script>
      <script src="/adminJS/jquery.toast.js"></script>
      <script src="/adminJS/moment.min.js"></script>
      <script src="/adminJS/bootstrap-datetimepicker.min.js"></script>
      <script src="/adminJS/code.js"></script>
      <%- partial ('admin/partials/notification.ejs') %>
    <% } %>
  </body>
</html>
