<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<div class="navbar-default sidebar" role="navigation" style="margin: 60px 0 0;">
    <div class="sidebar-nav slimscrollsidebar">
        <!-- <div class="sidebar-head">
            <h3><span class="fa-fw open-close"><i class="fa fa-times" aria-hidden="true"></i></span> <span class="hide-menu">Navigation</span></h3>
        </div> -->

        <!-- <h3 class="open-close"><i class="fa fa-times" aria-hidden="true"></i> Close Navigation</h3> -->

        <ul class="nav" id="side-menu">
            <li class="hidden-lg hidden-xl" style="padding: 10px 0 0;">
              <a href="javascript:void(0)" class="waves-effect open-close"><i class="fa fa-times fa-fw" aria-hidden="true"></i>Close Navigation</a>
            </li>
            <li style="padding: 10px 0 0;">
                <a href="/student/view" class="waves-effect"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>Register</a>
            </li>
            <li>
                <a href="/student/pending" class="waves-effect"><i class="fa fa-graduation-cap fa-fw" aria-hidden="true"></i>Pending Requests</a>
            </li>
        </ul>
    </div>
</div>
